body{
margin:0;
font-family:Arial;
background:#f5f7fb;
}

.sidebar{
width:230px;
height:100vh;
background:#1e1b4b;
position:fixed;
padding:20px;
color:white;
}

.sidebar a{
display:block;
padding:10px;
color:white;
text-decoration:none;
border-radius:8px;
margin-bottom:5px;
}

.sidebar a:hover{
background:#312e81;
}

.main{
margin-left:250px;
padding:20px;
}

.cards{
display:flex;
flex-wrap:wrap;
gap:15px;
}

.card{
flex:1;
min-width:180px;
padding:20px;
background:linear-gradient(135deg,#4f46e5,#7c3aed);
color:white;
border-radius:15px;
}

table{
width:100%;
background:white;
border-collapse:collapse;
border-radius:12px;
overflow:hidden;
}

th{
background:#4f46e5;
color:white;
padding:10px;
}

td{
padding:10px;
border-bottom:1px solid #eee;
}

@media(max-width:768px){
.sidebar{
width:100%;
height:auto;
position:relative;
}
.main{
margin-left:0;
}
.cards{
flex-direction:column;
}
}
