<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="sidebar">
<h2>业务后台系统</h2>
<a href=" ">仪表盘</a >
<a href="/customers">客户预约找房</a >
<a href="/pending">拟找房客户</a >
</div>

<div class="main">
<h1>客户预约找房</h1>

<table>
<tr>
<th>ID</th><th>姓名</th><th>微信</th><th>电话</th>
<th>入住日期</th><th>房型</th><th>租期</th>
<th>区域</th><th>预算</th><th>要求</th><th>利润</th><th>状态</th>
</tr>

{% for row in data %}
<tr>
<td>{{ row[0] }}</td>
<td>{{ row[1] }}</td>
<td>{{ row[2] }}</td>
<td>{{ row[3] }}</td>
<td>{{ row[4] }}</td>
<td>{{ row[5] }}</td>
<td>{{ row[6] }}</td>
<td>{{ row[7] }}</td>
<td>{{ row[8] }}</td>
<td>{{ row[9] }}</td>
<td>{{ row[10] }}</td>
<td>{{ row[11] }}</td>
</tr>
{% endfor %}
</table>
</div>
</body>
</html>
