<!DOCTYPE html>
<html>
<head><link rel="stylesheet" href="/static/style.css"></head>
<body>
{% include 'dashboard_nav.html' %}
<div class="main">
<h1>房东信息</h1>
<form method="post" class="form-box">
<input name="name" placeholder="房东姓名">
<input name="contact" placeholder="联系方式">
<input name="apartment" placeholder="公寓">
<input name="address" placeholder="地址">
<input name="price" placeholder="底价">
<input name="note" placeholder="备注">
<button type="submit">新增</button>
</form>
<table>
<tr><th>姓名</th><th>联系方式</th><th>公寓</th><th>底价</th></tr>
{% for row in data %}
<tr>
<td>{{ row["name"] }}</td>
<td>{{ row["contact"] }}</td>
<td>{{ row["apartment"] }}</td>
<td>{{ row["price"] }}</td>
</tr>
{% endfor %}
</table>
</div>
</body>
</html>
